general =
{
    name = "{{ shairport_name }}";
    interpolation = "soxr";
    output_backend = "alsa";
    volume_range_db = 50;
    audio_backend_buffer_desired_length_in_seconds = 0.5;
    drift_tolerance_in_seconds = 0.002;
    resync_threshold_in_seconds = 0.050;
};

sessioncontrol =
{
    allow_session_interruption = "no";
    session_timeout = 120;
}

alsa =
{
    output_device = "default";
    output_rate = 44100;
    output_format = "S32";
    use_precision_timing = "yes";
};

metadata =
{
    enabled = "no";
}

diagnostics =
{
    log_verbosity = 0;
    statistics = "no";
}