general =
{
  drift_tolerance_in_seconds = 0.010; // this is no longer necessary if you have updated the Pi's firmware using rpi-update (see above).
  volume_range_db = 50;
  name = "{{ shairport_name }}"
};

alsa =
{
  output_device = "default";
};